.card {
  width: 100%;
  padding-bottom: 30px;
  height: 100%;
  border: none;
  background-color: transparent;

  &.card--not-full-height {
    height: auto;
  }
}

.card-body {
  height: 100%;

  @include themify($themes) {
    background-color: themed("colorBackground");
  }

  @include borderify($borders) {
    border-radius: bordered("borderRadius");
  }

  @include shadowify($shadows) {
    box-shadow: shadowed("blocksShadows");
  }
}

.card__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;

  @include directify($directions) {
    text-align: directed("left");
  }

  h5.card__title-center {
    text-align: center;
  }

  &:not(:first-child) {
    margin-top: 40px;
  }

  .subhead {
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
    margin-top: 3px;
  }

  * {
    margin-bottom: 0;
  }

  h5 {
    font-size: 13px;
  }
}

.blocks-with-shadow-theme {
  .card-body {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.06);
  }
}

.financeCard {
  background-color: #d6ecff;
}

.primaryLink {
  padding: 10px;
  color: white;
  background-color: #0671ab;
  border-radius: 5px;
  margin-bottom: 12px;
  cursor: pointer;
}
.reportButtons {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.client_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wizard__Card {
  min-height: 630px;
}

.wizard__step.wizard__step:active {
  background: #064b88;
}

.state-select {
  border-color: rgb(112, 187, 253);
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.excel__download_btn {
  width: 140px;
  border: 1px solid #70bbfd;
  padding: 10px;
  cursor: pointer;
}
.excel__download_btn:hover {
  background-color: #c5e4ff;
  color: white;
  cursor: pointer;
}
.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__input {
  display: flex;
  align-items: center;
}

.steps-content {
  min-height: 500px;
  margin-top: 16px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px dashed #414141;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

.anticon {
  vertical-align: 0em;
}

.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
  width: 50%;
  margin: auto;
}

.fileUploadInput label {
  display: flex;
  align-items: center;
  color: setColor(primary, 0.5);
  background: setColor(white);
  transition: 0.4s ease;
  font-family: arial, sans-serif;
  font-size: 0.75em;
  font-weight: regular;
}

.fileUploadInput input {
  position: relative;
  z-index: 1;
  padding: 0 gap(m);
  width: 100%;
  height: 50px;
  border: 1px solid #323262;
  border-radius: 3px;
  font-family: arial, sans-serif;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  font-weight: regular;
}
.fileUploadInput input[type="file"] {
  padding: 0 gap(m);
}
.fileUploadInput input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 50px;
  width: 0;
}

.fileUploadInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 50px;
  line-height: 0;
  user-select: none;
  color: white;
  background-color: #323262;
  border-radius: 0 3px 3px 0;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.fileUploadInput button svg {
  width: auto;
  height: 50%;
}


input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}